# Ignore
__pycache__
.ipynb_checkpoints
data/**/*.csv
experiments/**/*.csv
data/**/*.npy
checkpoint/**/*.pt
checkpoint/**/*history.json
checkpoint/**/*.jl

data_models/**
parameter_selection_models/**
fs_efficency/**/*.pt
fs_efficency/**/*history.json
fs_efficency/**/*.jl

wandb
tabtransformer
fttransformer
*.tar.xz
assets_o

Final_models/
Final_models_2/
Final_models_3/
Final_models_4/
Final_models_first_try/
